@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Condensed&family=Rubik&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: black;
}
h1{
    text-transform: uppercase;
}