@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Condensed&family=Rubik&display=swap');

$first:rgb(255, 255, 255);
$second:#0a182b;
$third:#576CBC;
$dark: #1B2430;
$text1:'Poppins' ;
$text2: 'Rubik';